body {
  background: #f3f3f3;
  color: orange;
}

// Colors
$color-primary: #2584ff;
$color-secondary: #00d9ff;
$color-accent: #ff3400;
$color-headings: #1b0760;
$color-body: #918ca4;

h1 {
  color: $color-primary;
}
